[bumpversion]
current_version = 2.6.0
commit = True
tag = True

[bumpversion:file:io_soulstruct/soulstruct/blender/version.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:io_soulstruct/blender_manifest.toml]
search = version = "{current_version}"
replace = version = "{new_version}"
